/* 多个页面所通用的组件的必须样式 */
/* 顶部的灰色条 */
.topbar{
	background: #f9f9f9;
	border-bottom: 1px solid #EEE;
	line-height: 36px;
}
.download-app{
	color: #f60;
}
.topbar-item{
	padding:0   0.5em;
}
.topbar-item:last-child{
	padding-right: 0;
}
/* 2.LOGO+搜索条 */
.searchbar>.container{
	/* 为子元素的绝对定位提供定位标准 */
	position: relative;
}
.logo{
	margin: 1.5em 0;
}
.search{
	/* 保证元素在父容器中竖直居中方法1，调整上间距 */
	/* margin-top:25px; */
	
	/* 保证元素在父容器中竖直居中方法2:先向下移到父容器中线下，
	在向上微调自身高度一半 */
	position:absolute;
	top:50%;
	/* 距离已定位的父元素顶部为父容器的50% */
	margin-top: -16px;
	right: 200px;/*为右侧*/
	/* 网上微调自身高度的一半 */
}
.search-input{
	width: 360px;
	height: 32px;
	line-height: 40px;
	padding: 0  0.6em;
	font-size: 1.15em;
	border: 1px solid #ccc;
	margin-right: 50px;/*让出右侧的搜索按钮位置*/
}
.search-button{
	width:50px;
	height:32px;
	background:#00be56;
	color: #fff;
	line-height: 32px;
	border: none;
	font-size: 1.7em;
	/* margin-top: 5px; */
	position: absolute;
	right: 0;
	top: 0;
}
.my-cart{
	position: absolute;
	right: 0;
	top:50%;
	height: 32px;
	margin-top: -16px;
	border: 1px solid #ddd;
	background: #f9f9f9;
	line-height: 32px;
	padding: 0 0.5em;
}
.my-cart>.fa{
	color:#00be56;
	padding: 0 0.5em;
}
/* 导航条 */
.navbar{
	background: #00be56;
	border-bottom: 1px solid #b3efc0;
	height:52px;
	font-size: 1.15em;
}
.menu{
	
}
.menu>li{
	float: left;
	line-height: 49px;
	padding:0 1.5em;
}
.menu>li>a{
	color: #fff;
}
.menu>li:hover{
	background: #00b149;
}
.menu>li.active{
	background: #00a43d;
}
.user-center{
	background: #55c760;
	line-height:49px;
}
.user-center a,
.user-center span
{
	color: #ffffff;
}
.user-center a{
	color: #ffff9b;
}
/* 轮播广告 */
.carouselbar{
	border-bottom: 4px solid #ddd;
}
.carousel{
	position: relative;/*为绝对定位的子元素提供参照物*/
}
.carousel  .items a{
	display: block;/*改为块级元素，可以修改宽和高*/
	width: 100%;
	height: 380px;
	background-position: center;/*背景图的位置*/
    background-repeat: no-repeat;/*背景图仅显示一次*/
}
.carousel .items li:not(.active){/*不带.active的li隐藏*/
	display: none;
}
.carousel .indicators{
	position: absolute;/*圆形指示器要在图片上方*/
	bottom: 20px;
	left:50%;           /*固定定位元素水平居中*/
	margin-left:-72px;
}
.carousel .indicators li{
	width:18px;
	height:18px;
	background: #ccc;
	border-radius: 50%;/*边框圆角半径为尺寸的一半*/
	float: left;
	margin: 0  9px;
}
.carousel .indicators li.active{
	background: #ff9300;
	cursor: pointer;
}
.carousel .controls{
	position: absolute;
	left: 50%;
	top: 50%;
}
.carousel .controls .prev,
.carousel .controls .next{
	position: absolute;
	width: 54px;
	height: 94px;
	font-size: 4em;
	line-height: 94px; /*文字竖直居中*/
	text-align: center; /*文字水平居中*/
	/* opacity: ;会导致当前元素及其中的文字/图像半透明 */
	background:rgba(0,0,0,0.2);/*仅背景色半透明*/
	color:#fff;
	margin-top: -47px;
}
.carousel .controls .prev{
	margin-left:-496px;
}
.carousel .controls .next{
	margin-left:442px;
}
.carousel .controls .prev:hover,
.carousel .controls .next:hover{
	background: rgba(0,0,0,0.6);
}
/* 5.主体部分 */
.mainbar{
	border-bottom: 1px solid #ddd;
}
.mainbar .header{
	border-bottom: 3px solid #ddd;
	position: relative;/*为绝对定位的子元素提供参照物*/
}
.mainbar .header h3{
	font-weight: normal;/*标题字取消加粗*/
	margin-bottom: .5em;/*0.5em简写.5em*/
	padding: 0  0.8em;
}
.mainbar .header a{
	position: absolute;
	right: 0;
	bottom: .3em;
}
.mainbar .header span{
	width:7em;
	height: 3px;
	position: absolute;
	left: 0;
	bottom: -3px;/*此处不能使用0，仍然在父容器边线内*/
	background: #00be56;
}
.mainbar .course{
	padding: 1.2em 0;/*每个列中的.course需要自己提供上下间距*/
	/* border: 1px solid #000; */
}
.mainbar .course  .pic img{
	width: 100%;
}
.mainbar .teacher-item{
	padding: 2em 0;
}
.mainbar .teacher-item  .pic  img{
	width: 100%;
}
.mainbar  .course  .price{
	color:#ff5a00;
	display: block;/*让价格占一阵行*/
	font-weight: bold;
	/* text-align: center; */
	line-height: 1.6em;
}
.mainbar  .teacher-item  .tname{
	font-size: 1.2em;
	color: #555;
	line-height: 2em;
	display: block;    /*显示为块级元素，独占一行*/
	text-align: center;
}
.mainbar  .teacher-item  .maincourse{
	font-size: .8em;
	color: #999;
	display: block;
	text-align: center;
}

/* 第1/5/9个，col-lg-3中的.course没有padding-left 
.mainbar .col-lg-3:nth-child(4n+1) .course{
	/* padding-left:0;	 */
	/* margin-left: -1em; */
}*/

.row .teacher-item{
	/* margin-left: 2em; */
	margin-top: 20px;
}
.mainbar .teacher-item > li{
	float: left;
	margin-right: 12px;
	margin-left: 11px;
	text-align: center;
	margin-top: 20px;
	
}
.mainbar .teacher-item > li:last-child{
	margin-right: 0;
}
.mainbar .teacher-item > li > p{
	line-height: 1.4em;
}
.mainbar .teacher-item > li > span{
	line-height: 1.4em;
}

/* 在PAD屏幕下讲师列表一行只能显示量3.5个讲师信息，溢出内容水平滚动 */
@media screen and (min-width:768px) and (max-width:1023px) {
	.teacher-list{
		white-space: nowrap;/* 一行结尾的处空白不换行 */
		overflow-x: auto;/* 水平方向内容溢出时显示滚动条 */
		margin-left: 0;
		margin-right: 0;
	}
	.col-lg-5-1{
		float: none;
		/* 取消浮动-浮动元素只要空间不够必然转到下一行 */
		width: 214px;
		/* 根据PAD屏下的.container宽度（750px）设置内容宽 */
		display: inline-block;
		
	}
}
/* 在PHONE屏幕下讲师列表一行只能显示量2.5个讲师信息，溢出内容水平滚动 */
@media screen and  (max-width:767px) {
	.teacher-list{
		white-space: nowrap;/* 一行结尾的处空白不换行 */
		overflow-x: auto;/* 水平方向内容溢出时显示滚动条 */
		margin-left: 0;
		margin-right: 0;
	}
	.col-lg-5-1{
		float: none;
		/* 取消浮动-浮动元素只要空间不够必然转到下一行 */
		width: 140px;
		display: inline-block;
		
	}
}



 /*底部条*/
 .bottombar{
 	background:#eee;
 	}
 	/* 选择"顶部条"中的"容器"下的第一个.row元素 */
 .bottombar > .container > .row:first-child {
 	border-bottom:1px solid #ddd;
 }
 .bottombar .fn-menu-header{
 	margin-bottom: 5px;
 	color: #555;
 }
 .bottombar .fn-menu{
 	color: #ccc;
 	line-height:1.7em;
 }
 .bottombar .contact{
 	margin-top: 40px;
 }
 .bottombar  .contact  .fa-fax{
 	color:#00be56;
 	font-size: 4em;
 	float:left;
 }
 .bottombar .contact  .hotline{
 	margin-left: 4em;
 	font-size: 1.4em;
 	line-height: 1.6em;
 }
.bottombar .copyright{
	text-align: center;
	color: #999;
	font-size: .8em;
	line-height: 2em;
	margin: 1em 0 1.5em;
}